<button  class="CrateButton" (click)="showCreateModal()" nz-button nzType="primary">Add Doctor</button>
<nz-modal [(nzVisible)]="createIsVisible" nzTitle="Create Doctor" (nzOnCancel)="createHandleCancel()" (nzOnOk)="createHandleOk()">
  <ng-container *nzModalContent>
    <p>
      <input type="text" nz-input [(ngModel)]="docCreateFirstName" placeholder="First Name" name="FirstNameInput" id="FirstNameInput"/>
    </p>
    <p>
      <input type="text" nz-input [(ngModel)]="docCreateLastName" placeholder="Last Name" name="LasttNameInput" id="LastNameInput"/>
    </p>
    <p>
      <input type="text" nz-input [(ngModel)]="docCreatePhNo" placeholder="PhoneNumber" name="CreatePhoneNumberInput" id="CreatePhoneNumberInput"/>
    </p>
    <p>
      <input type="text" nz-input [(ngModel)]="docCreateAdress" placeholder="Adress" name="CreateAdressInput" id="CreateAdressInput"/>
    </p>
   
    
  </ng-container>
</nz-modal>

<nz-divider nzType="vertical"></nz-divider>
<nz-table #basicTable [nzData]="doctors">
  <thead>
    <tr>
      <th>Name </th>
      <th>Last Name </th>
      <th>Phone Number </th>
      <th>Address </th>
      <th>Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.doc_first_name}}</td>
      <td>{{data.doc_last_name}}</td>
      <td>{{data.doc_ph_no}}</td>
      <td>{{data.doc_address}}</td>
      <td>

        <button  (click)="showModal(data.doctor_id)" nz-button nzType="primary" nzGhost>Update</button>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Doctor" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(data.doctor_id)">
          <ng-container *nzModalContent>
            <p>
              <input type="text" nz-input [(ngModel)]="docUpdateFirstName" placeholder="{{data.doc_first_name}}"/>
            </p>
            <p>
              <input type="text" nz-input [(ngModel)]="docUpdateLastName" placeholder="{{data.doc_last_name}}"/>
            </p>
            <p>
              <input type="text" nz-input [(ngModel)]="docUpdatePhNo" placeholder="{{data.doc_ph_no}}"/>
            </p>
            <p>
              <input type="text" nz-input [(ngModel)]="docUpdateAdress" placeholder="{{data.doc_address}}"/>
            </p>
          </ng-container>
        </nz-modal>
        <nz-divider nzType="vertical"></nz-divider>
        <button  (click)="deleteDoctor(data.doctor_id)" nz-button nzType="primary" nzDanger>Delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>