<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/welcome" target="_blank">
        <h1 class="titleH" *ngIf="!isCollapsed">Hospital Manager System</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/doctor"><i nz-icon nzType="node-index" nzTheme="outline"></i>Doctors</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/patient"><i nz-icon nzType="user" nzTheme="outline"></i>Patients</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/appointment" ><i nz-icon nzType="schedule" nzTheme="outline"></i>Appointments</a>
          </li>
          
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="About" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/about"><i nz-icon nzType="profile" nzTheme="outline"></i>Abouts</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
