<button  (click)="createAppointmentsForm()" nz-button nzType="primary" nzGhost>Add Appointment</button>
<nz-table #basicTable [nzData]="appointments">
  <thead>
    <tr>
      <th>DoctorId </th>
      <th>PatientId</th>
      <td>Appointment Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.doc_id}}</td>
      <td>{{data.pat_id}}</td>
      <td>{{data.appointment_date}}</td>
      <td>
        <button nz-button nzType="primary" nzGhost>Update</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button  (click)="deletePatient(data.appointment_id)" nz-button nzType="primary" nzDanger>Delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>