<button  class="CreateButton" (click)="showCreateModal()" nz-button nzType="primary">Add Appointment</button>
<nz-modal [(nzVisible)]="createIsVisible" nzTitle="Create Appointment" (nzOnCancel)="createHandleCancel()" (nzOnOk)="createHandleOk()">
  <ng-container *nzModalContent>
    <p>
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="createdoc_id" placeholder="Doctor Id" />
      </nz-input-group>
    </p>

    <p>
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="createpat_id" placeholder="Patient Id" />
      </nz-input-group>
    </p>
    <p>
      <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
    </p>
  </ng-container>
</nz-modal>

<nz-divider nzType="vertical"></nz-divider>
<nz-table #basicTable [nzData]="appointments">
  <thead>
    <tr>
      <th>DoctorId </th>
      <th>PatientId</th>
      <td>Appointment Date</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.doc_id}}</td>
      <td>{{data.pat_id}}</td>
      <td>{{data.appointment_date | date:'longDate'}}</td>
      <td>
        <button (click)="showModal(data.appointment_id)"  nz-button nzType="primary" nzGhost>Update</button>

        <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Appointment" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(data.appointment_id)">
          <ng-container *nzModalContent >
            <p>                                                                   
                <input type="text" nz-input [(ngModel)]="updateDoc_id"  id="updateDoc_id" />
            </p>
            <p>
              <input type="text" nz-input [(ngModel)]="updatePat_id" id="updatePat_id"  />
          </p>
          </ng-container>
        </nz-modal>

        <nz-divider nzType="vertical"></nz-divider>
        <button  (click)="deleteAppointment(data.appointment_id)" nz-button nzType="primary" nzDanger>Delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>